<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dbaccess</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidationQuery</display-name>
    <servlet-name>ValidationQuery</servlet-name>
    <servlet-class>dbaccess.ValidationQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationQuery</servlet-name>
    <url-pattern>/ValidationQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConPool</display-name>
    <servlet-name>GetConPool</servlet-name>
    <servlet-class>dbaccess.GetConPool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConPool</servlet-name>
    <url-pattern>/GetConPool</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/oracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>InsertUpdate</display-name>
    <servlet-name>InsertUpdate</servlet-name>
    <servlet-class>dbaccess.InsertUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUpdate</servlet-name>
    <url-pattern>/InsertUpdate</url-pattern>
  </servlet-mapping>
</web-app>